tidyselect
viridisLite
dplyr
fastmap
fontquiver
promises
digest
rpart
mime
lifecycle
cluster
gfonts
magrittr
rlang
Hmisc
sass
utf8
yaml
data.table
knitr
htmlwidgets
askpass
curl
here
xml2
mediation
httpcode
withr
foreign
purrr
nnet
fansi
gdtools
xtable
colorspace
ggplot2
scales
MASS
crul
cli
mvtnorm
rmarkdown
crayon
ragg
generics
rstudioapi
minqa
cachem
stringr
base64enc
vctrs
boot
Matrix
sandwich
jsonlite
fontBitstreamVera
htmlTable
Formula
systemfonts
tidyr
jquerylib
glue
nloptr
stringi
flextable
gtable
later
lme4
munsell
tibble
pillar
htmltools
openssl
R6
textshaping
rprojroot
lpSolve
evaluate
shiny
kableExtra
lattice
highr
backports
broom
fontLiberation
httpuv
bslib
Rcpp
zip
uuid
nlme
checkmate
gridExtra
svglite
officer
xfun
zoo
pkgconfig
